.root {
    -fx-background-color: #2b2b2b;
    -fx-font-family: "Segoe UI";
}

/* MAP */

.map {
    -fx-background-color: #111111;

    -fx-border-color: #c0392b;
    -fx-border-width: 3;

    -fx-border-radius: 10;
    -fx-background-radius: 10;
}



.sidebar {
    -fx-background-color: #1d1d1d;
    -fx-pref-width: 225;
}

/* TITRE */

.title {
    -fx-text-fill: #d35400;
    -fx-font-size: 28px;
    -fx-font-weight: bold;
}

/* TOURS */

.tower-button {

    -fx-pref-width: 100;
    -fx-pref-height: 100;

    -fx-background-color: linear-gradient(to bottom, #d35400, #a84300);

    -fx-text-fill: white;

    -fx-font-weight: bold;

    -fx-background-radius: 12;

    -fx-cursor: hand;
}

.tower-button:hover {
    -fx-background-color: linear-gradient(to bottom, #e67e22, #c0392b);
}

/* LABELS */

.label {
    -fx-text-fill: white;
}

/* INFO BAR */

.bottom-bar {

    -fx-background-color: #1d1d1d;

    -fx-padding: 10;

    -fx-border-color: #c0392b;
    -fx-border-width: 2 0 0 0;
}

.info-label {

    -fx-text-fill: #ffd166;

    -fx-font-size: 15px;

    -fx-font-weight: bold;
}

/* BOUTONS */

.btn {

    -fx-pref-width: 120;
    -fx-pref-height: 40;

    -fx-background-color: #3a3a3a;

    -fx-text-fill: white;

    -fx-background-radius: 8;

    -fx-font-weight: bold;

    -fx-cursor: hand;
}

.btn:hover {
    -fx-background-color: #4a4a4a;
}

/*LANCER*/

.btn-play-big {


    -fx-pref-width: 85;
    -fx-pref-height: 85;
    -fx-background-color: linear-gradient(to bottom, #27ae60, #1e8449);

    -fx-text-fill: white;

    -fx-font-size: 18px;

    -fx-font-weight: bold;

    -fx-background-radius: 12;

    -fx-cursor: hand;
}

.btn-play-big:hover {
    -fx-background-color: linear-gradient(to bottom, #2ecc71, #27ae60);
}

/* STOP */

.btn-stop {

    -fx-pref-width: 85;
    -fx-pref-height: 85;

    -fx-background-color: linear-gradient(to bottom, #c0392b, #922b21);

    -fx-text-fill: white;

    -fx-font-weight: bold;

    -fx-background-radius: 12;

    -fx-cursor: hand;
}

.btn-stop:hover {
    -fx-background-color: linear-gradient(to bottom, #e74c3c, #c0392b);
}

.btn-vendre {

    -fx-pref-width: 160;
    -fx-pref-height: 90;

    -fx-background-color: linear-gradient(to bottom, #3498db, #2980b9);
    -fx-text-fill: white;


    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}

.btn-ameliorer {

    -fx-pref-width: 160;
    -fx-pref-height: 90;

    -fx-background-color: linear-gradient(to bottom, #f1c40f, #f39c12);
    -fx-text-fill: white;


    -fx-font-size: 20px;
    -fx-font-weight: bold;
    -fx-background-radius: 12;
    -fx-cursor: hand;
}