
/* ================= ROOT ================= */

.root {
    -fx-background-color: #2f2f2f;
}

/* ================= CENTRE MAP ================= */

.center-container {
    -fx-background-color: transparent;
}

.map {
    -fx-background-color: black;
    -fx-border-color: white;
    -fx-border-width: 3px;
}

/* ================= SIDEBAR ================= */

.sidebar {
    -fx-background-color: black;
}

/* TITRE */

.title {
    -fx-text-fill: white;
    -fx-font-size: 24px;
    -fx-font-weight: bold;
}



.sidebar .label {
    -fx-text-fill: white;
}

/* ================= le bas  ================= */

.bottom-bar {
    -fx-background-color: #9a9a9a;
}

/* ================= BOUTONS ================= */

.btn {
    -fx-pref-width: 120px;
    -fx-pref-height: 40px;
}
